//
//  Sympsons.xcconfig
//  AnywhereApp
//
//  Created by Venkata N Naraharisetty on 5/24/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = com.venkat.simpsonsviewer
BUNDLE_DISPLAY_NAME = simpsonsviewer
BASE_URL = api.duckduckgo.com
CHARACTER_API_PATH = /?q=simpsons+characters&format=json
